[Unit]
Description=Synchronize Ceph credentials to Vault every minute

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
RandomizedDelaySec=15s
Persistent=true

[Install]
WantedBy=timers.target
