[Unit]
Description=Synchronize PVE Ceph credentials and metadata to Vault for Rook
Wants=network-online.target
Requires=pve-cluster.service
After=network-online.target pve-cluster.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/pve-rook-secret-sync
ExecStart=/usr/sbin/pve-rook-secret-sync sync -interval 15s
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
UMask=0077

[Install]
WantedBy=multi-user.target
